:root {
  --branco-principal: #FFFFFF;
  --cinza-secundario: #C0C0C0;
  --botao-azul: #167BF7;
  --botao--azul--efeito: #87afff;
  --cor-de-fundo: #00030C;
  --fonte-principal: "Inter", sans-serif;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--cor-de-fundo);
  color: var(--branco-principal);
  font-family: var(--fonte-principal);
  font-size: 1rem;
  font-weight: 400;
}

.principal {
  background-image: url(assets/Background.png);
  background-repeat: no-repeat;
  background-size: contain;
  align-items: center;
  text-align: center;
}

.container {
  min-height: 100vh; /*no mínimo 100% da vh, podendo aumentar para não cortar o conteúdo*/
  display: grid;
  grid-template-columns: 1fr 1fr; /*ajusta-se ao espaço disponível na mesma proporção*/
}

.container__caixa {
  margin: 0 10vw;/* baseado na largura da janela de visualização (10% da viewport).*/
} 

.container__titulo {
  font-size: 2vw; /* Valor ajustado para "vw", permitindo escala proporcional ao viewport width*/
  font-weight: 700;
}

.container__imagem {
  margin: 1em 0 2em 0;
  max-width: 100%; /* Garante que a imagem não exceda o tamanho do container */
  height: auto; /* Mantém a proporção da imagem */
}

.container__botao {
  background-color: var(--botao-azul);
  border-radius: 8px;
  padding: 1em 2vw; /* Ajustamos o espaçamento para "vw", para uma adaptação melhor */
  color: var(--branco-principal);
  display: block;
  text-decoration: none;
  margin-bottom: 1em;
}

.container__botao:hover {
  background-color: var(--botao--azul--efeito);
  color: var(--cor-de-fundo);
}

.botao-secundario {
  background-color: transparent;
  border: 0.125em solid var(--branco-principal);
}

.botao-secundario:hover {
  border: var(--botao--azul--efeito)
}

.container__aviso {
  font-size: 0.75em;
  color: var(--cinza-secundario)
}

.secundario__imagem {
  width: 100%; /* Garante que a imagem use toda a largura disponível do container */
  height: auto; /* Mantém a proporção da imagem */
}

.secundario {
  margin: 0 10vw; /* Substituímos "em" por "vw" para melhor adaptação */
  align-items: center;
}

.descricao__titulo {
  font-weight: 700;
  font-size: 3em;
  color: var(--branco-principal);
  margin-bottom: 0.1em;
}

.descricao__texto {
  color: var(--cinza-secundario);
}

.secundario__botao {
  display: inline-block;
  margin-top: 1em;
}

.container__descricao {
  padding: 4.5em 2vw; /* Ajustamos o espaçamento para "vw", para uma adaptação melhor */
}

.dispositivos {
  text-align: center;
}

.dispositivos__titulo {
  font-size: 3em;
  color: var (--branco-principal);
}

.dispositivos__lista {
  display: flex;
  justify-content: center;
  list-style-type: none;
  margin: 2.5em 0 9em;
}

.lista__item {
  font-size: 2em;
  color: var(--branco-principal);
}

.rodape {
  text-align: center;
  margin: 5em 10vw; /* Ajustamos o espaçamento para "vw", para uma adaptação melhor */
}

.rodape__logo {
  width: 6.5em;
  height: auto;
}

.rodape__lista {
  display: flex;
  justify-content: center;
  list-style-type: none;
  margin-top: 1em;
}

.rodape__lista__link a {
  text-decoration: none;
  color: var(--branco-principal);
  margin-left: 1em;
}

.rodape__lista__link a:hover {
  color: var(--botao--azul--efeito);
}

.rodape__texto {
  margin: 1em 0;
  color: var(--cinza-secundario);
  font-size: 0.87em;
}

/* Media Queries para garantir responsividade */
@media (max-width: 1024px) {
  .container {
    grid-template-columns: 1fr;/* Alterna para 1 coluna em telas menores */
    text-align: center;
  }

  .secundario {
    margin: 0;
    padding: 2em;
  }

  .secundario__imagem {
    width: 100%;
  }

  .container__descricao {
    padding: 2em;
  }

  .dispositivos__lista {
    flex-wrap: wrap;
  }

  .rodape {
    margin: 2em;
  }
}

@media (max-width: 768px) {
  .container__caixa {
    margin: 0 2em;
  }

  .descricao__titulo {
    font-size: 2em;
  }

  .rodape__lista {
    flex-direction: column;
  }

  .rodape__lista__link a {
    margin: 0.5em 0;
  }
}

@media (max-width: 480px) {
  .container__titulo {
    font-size: 1.25em;
  }

  .secundario__imagem {
    width: 100%;
  }

  .container__botao {
    padding: 0.75em;
    font-size: 0.9em;
  }

  .rodape {
    margin: 1em;
  }
}